* {

}

body {

}

.mywrapper {

}

.mymaincontainer {
    margin-top: 1%;
}

/* using this for portfolio page */

.col-md-6 {
    margin-top: 1%;
    margin-bottom: 1%;
}

.col-md-4, .col-sm-12 {
    margin-top: 1%;
    margin-bottom: 1%;
}

.mytext {
    color: white;
    background-color: #4aaaa5;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 414px) {
.card {
    width: 100%;
    margin: 0 auto;
}
}